.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #013914;
  color: white;

  .container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;

    .logo {
      font-size: 2.125rem;
      font-weight: 600;

      .dot {
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;

      .button {
        color: white;
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
        background: transparent;
        transition: 0.2s all ease-in-out;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 1px solid lightgrey;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;

    .menu-list {
      max-width: 1400px;
      padding: 1.25rem;
      width: 100%;
    }
  }
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.rotate-x-0 {
  transform: rotateX(0deg);
}
